body {
    background-color: #1d2128;
}

.homepage {
    overflow-y: scroll;
    position: relative;
    height: 100%;
}

.primary {
    color: #5ad35a;
}

.logo {
    font-size: 50px;
    font-weight: 700;
    margin: 0px;
}

@media (min-width: 768px) {

    #navigation {
        padding-top: 0px;
        padding-bottom: 5px;
        position: absolute;
        top: 0px;
        z-index: 1000;
        left: 0;
        right: 0;
    }

    #navigation .container {
        background: #374052;
        border-radius: 0 0 6px 6px;
    }

}



.carousel-main {
    overflow: hidden;
    max-height: 600px;
    /*margin-top: 65px;*/
}

.carousel-main .carousel-caption {
    top: 250px;
    bottom: auto;
}

.carousel-main .carousel-control-next-icon, .carousel-main .carousel-control-prev-icon {
    width: 100px;
    height: 100px;
}

.quote {
    width: 100%;
    padding: 20px 0;
    background-color: #374054;
    text-align: center;
    color: white;
}

h1, h2, h3, h4, h5, p, li, label {
    color: white;

}

li {
    list-style: none;
    line-height: 35px;
}

.services {
    font-size: 20px;
}

.highlight {
    background-color: #374054;
}

.icon {
    background: green;
    padding: 10px 12px;
    display: inline-block;
    border-radius: 50px;
}

.section-title {
    font-weight: 100;
}

.section-title b {
    font-weight: 700;
}


.pill {
    border: 2px solid green;
    background: none;
    padding: 4px 9px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50px;
    margin: 5px 0;
    display: inline-block;
    color: green;
}