<div id="mainCarouselControls" class="carousel carousel-main slide" data-ride="carousel">
  <div class="carousel-inner">


    <div class="carousel-item active">
      <img class="d-block w-100 img-fluid" src="images/slider/5.jpg" alt="First slide">
      <!--<div class="carousel-caption d-none d-md-block">-->
        <!--<h1>Sporten</h1>-->
      <!--</div>-->
    </div>
  </div>
  <a class="carousel-control-prev" href="#mainCarouselControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Vorige</span>
  </a>
  <a class="carousel-control-next" href="#mainCarouselControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Volgende</span>
  </a>
</div>