<form accept-charset="UTF-8" action="http://formspree.io/info@kinefysix.be" method="POST" role="form">
    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label for="name">Jouw naam</label>
                <input type="text" class="form-control text-light bg-dark border-dark" id="name" required name="name">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="email">Jouw e-mailadres</label>
                <input type="email" class="form-control text-light bg-dark border-dark" id="email" required name="email">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="message">Bericht</label>
        <textarea class="form-control text-light bg-dark border-dark" id="message" name="message" rows="6"></textarea>
    </div>

    <input type="hidden" name="_language" value="nl" />
    <input type="hidden" name="_format" value="plain" />
    <button type="submit" class="btn btn-success pointer float-right">Versturen</button>
</form>