body {
    background-color: #1d2128;
}

.homepage {
    overflow-y: scroll;
    position: relative;
    height: 100%;
}

.primary {
    color: #5ad35a;
}

.logo {
    font-size: 50px;
    font-weight: 700;
    margin: 0px;
}

@media (min-width: 768px) {

    #navigation {
        padding-top: 0px;
        padding-bottom: 5px;
        position: absolute;
        top: 0px;
        z-index: 1000;
        left: 0;
        right: 0;
    }

    #navigation .container {
        background: #374052;
        border-radius: 0 0 6px 6px;
    }

}



.carousel-main {
    overflow: hidden;
    max-height: 600px;
    /*margin-top: 65px;*/
}

.carousel-main .carousel-caption {
    top: 250px;
    bottom: auto;
}

.carousel-main .carousel-control-next-icon, .carousel-main .carousel-control-prev-icon {
    width: 100px;
    height: 100px;
}

.quote {
    width: 100%;
    padding: 20px 0;
    background-color: #374054;
    text-align: center;
    color: white;
}

h1, h2, h3, h4, h5, p, li, label {
    color: white;

}

li {
    list-style: none;
    line-height: 35px;
}

.services {
    font-size: 24px;

}

.service {
    position: relative;
    height: 240px;
    overflow: hidden;
    display: block;
}

.service img {
    min-width: 100%;
}

.service .service-title {
    background: black;
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: center;
    padding: 10px;
}

.service .service-title p {
    margin: 0;
    line-height: 30px;
}

.highlight {
    background-color: #374054;
}

.icon {
    background: green;
    padding: 10px 12px;
    display: inline-block;
    border-radius: 50px;
}

.section-title {
    font-weight: 100;
}

a, a:active, a:focus, a:hover {
    color: green;
}

.section-title b {
    font-weight: 700;
}


.pill {
    border: 2px solid green;
    background: none;
    padding: 4px 9px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50px;
    margin: 5px 0;
    display: inline-block;
    color: green;
}

.featured-image-container {
    z-index: 0;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 300px;
    overflow: hidden;
}

.featured-image {
    width: 100%;
    height: auto;
}

.card-min-height {
    min-height: 150px;
}

.floating-header {
    margin-top: -100px;
    margin-bottom: 20px;
}


.single-page-content .content-image {
    max-width: 300px;
    padding: 6px;
    border: 1px solid #374051;
    border-radius: 3px;
    background: #1d2229;
}

#overons ul {
    text-align: left;
}

#overons ul li {
    list-style: initial;
}


@media (min-width: 768px) {
    #overons ul {
        padding-left: 100px;
    }
}

